.posts-container{
    display: grid;
    grid-template-columns: repeat(3, 0.333fr);
    gap: 10px;
    max-width: 1040px;
    width: 90%;
    margin-inline: auto;
    margin: 30px auto;
}
.post{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    border:2px solid rgba(255, 255, 255, 0.301);
    object-fit: contain;
}
.ad-post{
    border-radius: 10px;
    border:2px solid rgba(255, 255, 255, 0.301);
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.ad-post svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: white;
    mix-blend-mode: difference;
}
.postt-cont{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stories-container{
    margin-bottom: 30px;
    display:flex;
    gap:10%;
    max-width: 1040px;
    width:90%;
    height:92px;
    overflow-x: auto;
    margin-inline: auto;
}
.prof-connections{
    display:flex;
    align-items: center;
}
.prof-info{
    display: flex;
    flex-direction: column;
}
.profile-cont{
    display: flex;
    max-width: 1040px;
    width:90%;
    margin-inline: auto;
    margin:30px auto 30px auto;
}
.storie-cont{
    width:89px;
    height: 89px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.story{
    width:82px;
    height: 82px;
    border-radius: 50%;
    position: relative;
}
.story::after{
    content:"";
    background-color: gray;
    min-width:88px;
    min-height:88px;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:-999;
}
.story svg,.story video{
    height:100%;
    width:100%;
    background-color: rgba(255, 255, 255, 0.751);
    border-radius: 50%;
    position: relative;
    object-fit: cover;
}
svg path{
    transform:translateY(10%);
}
@media screen and (min-width:768px) {
    .connections-wrappper{
        display: flex;
        align-items: center;
        gap:5px;
        margin-right: 20px;
    }
    .profile-about{
        margin-left: 40px;
    }
    .profile-cont{
        display: flex;
    }
    .prof-pic-lg{
        aspect-ratio: 1/1;
        width:180px;
    }
    .prof-pic-md{
        display: none;
    }
}
@media screen and (max-width:768px) {
    .connections-wrappper{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .prof-connections{
        gap:20px;
    }
    .prof-pic-lg{
        display:none;
    }
}
@media screen and (max-width:480px) {
}